.vscode/
node_modules/
out/
.vscode-test/
data/
src/client
.synapse

exe
bin
assets
tmp

gui/**

.devcontainer
.github

continue_rc_schema.json

e2e/_output
e2e/.test-extensions
e2e/storage
e2e/vsix
e2e/test-synapse/*
!e2e/test-synapse/config.json
e2e/test-synapse-yaml/*
!e2e/test-synapse-yaml/config.yaml
config-yaml-schema.json
src/.buildTimestamp.ts